* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    background: linear-gradient(to right bottom, #fbdb89, #f38982);
    width: 100%;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-box {
    width: 88%;
    /* margin-top: 60px; */
    border-radius: 12px;
    overflow: hidden;
    min-height: 1150px;
    background-color: #f9f5f3;
}

.upper-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    height: 100px;
}

.logo img {
    width: 200px;
}

.searchbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.searchbar input {
    outline: none;
    width: 360px;
    border: none;
    margin-left: 12px;
    font-size: 1rem;
    color: #212529;
}

.searchbar>input:focus {
    outline: none;
}

.searchbar button {
    background: linear-gradient(#fbdb89, #f38982);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
}

.searchbar button:hover {
    padding: 7px 12px;
}

.infoMsg {
    color: #f38982;
    width: 80%;
    margin: auto;

    margin-top: 40px;
    font-size: 20px;
}

.nav-link {
    display: flex;
    justify-content: center;
    position: relative;
}

.bookMarkBox {
    min-height: 200px;
    width: 420px;
    background-color: white;
    position: absolute;
    top: 100%;
    z-index: 99;
    right: 0px;
}

.nav-link>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nav-link>ul>li {
    list-style: none;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    transition: all 0.3s ease-in-out;
}

.nav-link>ul>li>a {
    color: #212529;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link>ul>li:hover {
    background-color: #dbd9d89f;
}

.fa-pen-to-square,
.bk1 {
    color: #f38982;
    padding-right: 5px;
}

.main {
    display: flex;
    justify-content: space-between;
    /* height: 500px; */
}

.left {
    width: 35%;
    background-color: white;
    border-radius: 0 0 0 10px;
    min-height: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-list {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.card {
    width: 100%;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 0 3px 0 0;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    cursor: pointer;
    background-color: #f9f5f3 !important;
}

.card-img img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.card-prdct {
    width: 70%;
}

.card-prdct h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #f48e82;
}

.card-prdct p {
    color: #818181;
    font-size: 0.9rem;
    margin-top: 5px;
}

.pgs {

    padding: 20px;
    display: none;
    justify-content: end;
}

#prevBtn {
    display: none;
}

.pgs button {
    cursor: pointer;
    color: #f48e82;
    background-color: #f9f5f3;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;

}

.pgs button:hover {
    background-color: #f1f0f0;
}

.copyright>span>a {
    color: #818181;
    text-decoration: none;
}

.copyright span {
    color: #818181;
    font-size: 0.8rem;
}

.copyright {
    height: 100px;
    display: flex;
    align-items: end;
    padding: 20px;
}

.right {
    width: 65%;
    background-color: #f9f5f3;
    border-radius: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detailBox {
    position: relative;
    width: 100%;
    height: 100%;
}

.recipe-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-title h1 {
    color: white;
    background: linear-gradient(#fbdb89, #f38982);
    text-align: center;
    transform: translate(0%, -80%) skewY(-6deg);
    width: 70%;
    padding: 10px 0px;
    font-size: 2rem;
    font-weight: 600;
}

.recipe-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: #f9f5f3;
    /* width: 100%; */

}

.recipe-details>ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    color: #212529;
}

.fa-clock,
.fa-users {
    color: #f38982;
}

.recipe-details button {
    border: none;
    height: 75px;
    width: 75px;
    background: linear-gradient(#fbdb89, #f38982);
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.recipe-ingredients {
    background-color: #f2efee;
    padding: 32px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.4;
    padding: 2rem;
}

.recipe-ingredients h2 {
    color: #f38982;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 40px;
}

.fa-check {
    color: #f38982;
}

.recipe-ingredients-list {
    grid-gap: 1.5rem 2rem;
    display: grid;
    gap: 1.5rem 2rem;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    color: #212529;
    margin: 0 0 16px;
    padding: 0 0 0 32px;
}

.recipe-directions {
    padding: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212529;
}

.recipe-directions h3 {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 10px;
}

.recipe-directions p {
    padding-bottom: 20px;
}

.recipe-directions>a>button {
    width: 110px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right bottom, rgb(106, 106, 106), rgb(0, 0, 0));
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* .right {
    display: block;
    width: 50%;
}
.left {
    display: block;
    width: 50%;
} */
.backBtn {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #818181;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;

}

.active {
    display: none;
}

/* Responsive for Small Screens */
@media (max-width: 768px) {
    .right {
        display: none;
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .back-btn {
        display: block;
        margin: 10px;
        padding: 10px;
        background: #ff6347;
        color: white;
        border: none;
        cursor: pointer;
    }

    .outer-box {
        width: 99%;
    }

    .logo img {
        width: 130px;
    }

    .searchbar input {
        width: 200px;
        font-size: 0.8rem;
    }

    .searchbar button {
        font-size: 0.8rem;
    }

    #addRecipeBtn {
        display: none;
    }

    .nav-link>ul>li {
        font-size: 0.8rem;
    }
}

@media (max-width: 560px) {
    .recipe-title h1 {
        font-size: 1.2rem;
    }

    .logo img {
        width: 100px;
    }

    .searchbar input {
        width: 150px;
        font-size: 0.6rem;
    }

    .searchbar button {
        font-size: 0.6rem;
    }

    .nav-link>ul {

        height: auto;
    }

    .nav-link>ul>li {
        height: auto;
        padding: 5px 10px;
    }

    .logo {
        height: auto;
        padding: 10px 5px;
    }

    .bookMarkBox {
        width: 300px;

    }

    .recipe-ingredients-list {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .recipe-details {
        margin: 0px;
        width: 95%;
        margin: auto;
    }

    .recipe-details button {
        height: 40px;
        width: 40px;
        font-size: 1.5rem;
    }

    .recipe-details>ul {
        gap: 10px;
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .nav-link>ul>li {
        font-size: 0.6rem;
    }

    .searchbar button {
        font-size: 0.5rem;
    }

    .searchbar input {
        width: 100px;
    }
}